#product-review {
  z-index: 1;
  width: 100%;
  max-width: 700px;
  border: 2px solid lightgrey;

  padding-top: 0;
}

#product-review .disclaimer {
  margin-left: 50px;
}

.logo-wrapper {
  width: 100%;
}
.logo-wrapper img {
  width: 100%;
}
.img-main {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}
.img-main img {
  width: 50%;
  margin: 0 auto;
}

.image-preview {
  position: relative;
  padding: 50px;
}

.specs-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
}

.specs-wrapper h1 {
  text-transform: uppercase;
  color: #4c050a;
  margin-right: 50px;
  text-align: right;
  width: 100%;
}
.specs {
  width: 100%;
}
.specs ul {
  width: 100%;
  overflow-x: hidden;
  list-style: none;
}

.specs ul li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}

.specs ul span:first-child {
  padding-right: 0.33em;
  background: white;
}

.specs ul span + span {
  float: right;
  padding-left: 0.33em;
  background: white;
}

.spec-info {
  font-size: 14px;
  margin-bottom: 15px;
}

/* .spec-row {
	width: 100%;
	display: flex;
	justify-content: center;
} */
.spec-row span {
  width: 100%;
}
.print-contact-footer {
  display: none;
  margin-bottom: 25px;
  text-align: center;
}
@media print {
  .print-contact-footer {
    display: block;
  }
}

@media (max-width: 1150px) {
  #product-review {
    padding-top: 0;
    max-width: 100%;
  }
  .specs-wrapper {
    flex-direction: column;
    padding: 25px;
  }
  .specs-wrapper h1 {
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .spec-row span {
    width: 50px;
  }
}
