#footer-wrapper {
	width: 100%;
	height: auto;

	background: rgb(0, 0, 0);

	padding: 30px 25px;
	padding-bottom: 0;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#footer .footer-logo {
	width: 200px;
}

.footer-nav {
	display: flex;
	color: white;
	flex-wrap: wrap;
}

.footer-nav .footer-nav-section {
	margin: 25px;
}

.footer-nav .footer-nav-section span {
	display: block;
}

.footer-nav .footer-nav-section span a {
	display: block;
	color: white;
}

.footer-nav .footer-nav-section ul {
	list-style: none;
	margin-bottom: 25px;
}
.footer-nav .footer-nav-section ul li a {
	text-decoration: none;
	color: white;
	font-size: 13px;
}

.footer-info {
	text-align: center;
	color: white;
	font-size: 13px;
	padding: 25px 0;
}

.footer-info a {
	text-decoration: none;
	color: white;
}

@media (max-width: 910px) {
	#footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-nav {
		align-items: center;

		justify-content: center;
	}
}
