#builder-wrapper {
	width: 100%;
	padding: 50px;
	height: auto;
	min-height: 1000px;
	overflow: hidden;
}

#builder-wrapper h1 {
	font-size: 72px;
	font-family: "Gibson-Italic";
	margin-bottom: 25px;
}

#builder {
	display: flex;
}

.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid rgb(212, 92, 41); /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.success-message {
	color: green;
	display: block;
}

@media (max-width: 1035px) {
	#builder {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#builder-wrapper h1 {
		text-align: center;
	}
	.success-message {
		text-align: center;
	}
	.loader {
		margin: 0 auto;
	}
}

@media (max-width: 670px) {
	#builder-wrapper h1 {
		font-size: 48px;
	}

	#builder-wrapper {
		padding: 25px;
	}
}

@media (max-width: 480px) {
	#builder-wrapper h1 {
		font-size: 32px;
	}
}
